# 01 Import Libraries

In [30]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing Chocolate Dataset

In [31]:
path = r'C:\Users\Aricia\11-2025 Chocolate Bar Ratings'

In [32]:
df_choc = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'flavors_of_cacao.csv'), index_col = False)

# Checking data

In [33]:
df_choc.shape

(1795, 9)

In [34]:
df_choc.head (5)

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [35]:
df_choc.tail(5)

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

In [36]:
df_choc.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company
(Maker-if known)         1795 non-null   object
 1   Specific Bean Origin
or Bar Name  1795 non-null   object
 2   REF                               1795 non-null   int64
 3   Review
Date                       1795 non-null   int64
 4   Cocoa
Percent                     1795 non-null   object
 5   Company
Location                  1795 non-null   object
 6   Rating                            1795 non-null   float64
 7   Bean
Type                         1794 non-null   object
 8   Broad Bean
Origin                 1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [37]:
df_choc.describe()

               REF  Review\nDate       Rating
count  1795.000000   1795.000000  1795.000000
mean   1035.904735   2012.325348     3.185933
std     552.886365      2.927210     0.478062
min       5.000000   2006.000000     1.000000
25%     576.000000   2010.000000     2.875000
50%    1069.000000   2013.000000     3.250000
75%    1502.000000   2015.000000     3.500000
max    1952.000000   2017.000000     5.000000

# Renaming columns

In [38]:
# Renaming 
df_choc.rename(columns = {'Company\xa0\n(Maker-if known)' : 'company_manufacturer'}, inplace = True)
df_choc.rename(columns = {'Specific Bean Origin\nor Bar Name' : 'bar_origin'}, inplace = True)
df_choc.rename(columns = {'REF' : 'review_ID'}, inplace = True)
df_choc.rename(columns = {'Review\nDate' : 'review_date'}, inplace = True)
df_choc.rename(columns = {'Cocoa\nPercent' : 'cocoa_percentage'}, inplace = True)
df_choc.rename(columns = {'Company\nLocation' : 'company_location'}, inplace = True)
df_choc.rename(columns = {'Rating' : 'rating'}, inplace = True)
df_choc.rename(columns = {'Bean\nType' : 'bean_type'}, inplace = True)
df_choc.rename(columns = {'Broad Bean\nOrigin' : 'bean_region'}, inplace = True)

In [39]:
# Checking if code executed
df_choc.head(5)

,company_manufacturer,bar_origin,review_ID,review_date,cocoa_percentage,company_location,rating,bean_type,bean_region
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [40]:
# Run this line to see the exact string of the column name
print(df_choc.columns.tolist())

['company_manufacturer', 'bar_origin', 'review_ID', 'review_date', 'cocoa_percentage', 'company_location', 'rating', 'bean_type', 'bean_region']

# Missing Values

In [41]:
# Finding Missing Values 
df_choc.isnull().sum()

company_manufacturer    0
bar_origin              0
review_ID               0
review_date             0
cocoa_percentage        0
company_location        0
rating                  0
bean_type               1
bean_region             1
dtype: int64

In [42]:
# Identifying the bean_type string missing
df_choc['bean_type'].unique()

array(['\xa0', 'Criollo', 'Trinitario', 'Forastero (Arriba)', 'Forastero',
       'Forastero (Nacional)', 'Criollo, Trinitario',
       'Criollo (Porcelana)', 'Blend', 'Trinitario (85% Criollo)',
       'Forastero (Catongo)', 'Forastero (Parazinho)',
       'Trinitario, Criollo', 'CCN51', 'Criollo (Ocumare)', 'Nacional',
       'Criollo (Ocumare 61)', 'Criollo (Ocumare 77)',
       'Criollo (Ocumare 67)', 'Criollo (Wild)', 'Beniano', 'Amazon mix',
       'Trinitario, Forastero', 'Forastero (Arriba) ASS', 'Criollo, +',
       'Amazon', 'Amazon, ICS', 'EET', 'Blend-Forastero,Criollo',
       'Trinitario (Scavina)', 'Criollo, Forastero', 'Matina',
       'Forastero(Arriba, CCN)', 'Nacional (Arriba)',
       'Forastero (Arriba) ASSS', 'Forastero, Trinitario',
       'Forastero (Amelonado)', nan, 'Trinitario, Nacional',
       'Trinitario (Amelonado)', 'Trinitario, TCGA', 'Criollo (Amarru)'],
      dtype=object)

In [43]:
# Replacing '\xa0' with NaN
df_choc['bean_type'] = df_choc['bean_type'].replace('\xa0', np.nan)

In [44]:
# Rerun the missing values check to see the change
df_choc.isnull().sum()

company_manufacturer      0
bar_origin                0
review_ID                 0
review_date               0
cocoa_percentage          0
company_location          0
rating                    0
bean_type               888
bean_region               1
dtype: int64

In [45]:
# Finding Missing bean_type in cells
df_nan = df_choc[df_choc['bean_type'].isnull() == True]

In [46]:
df_nan

,company_manufacturer,bar_origin,review_ID,review_date,cocoa_percentage,company_location,rating,bean_type,bean_region
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru
...,...,...,...,...,...,...,...,...,...
1787,Zotter,Santo Domingo,879,2012,70%,Austria,3.75,NaN,Dominican Republic
1789,Zotter,"Indianer, Raw",883,2012,58%,Austria,3.50,NaN,
1790,Zotter,Peru,647,2011,70%,Austria,3.75,NaN,Peru
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,NaN,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,NaN,Brazil

In [54]:
# Finding Missing bean_region in cells
df_nan_region = df_choc[df_choc['bean_region'].isnull() == True]

In [55]:
df_nan_region

,company_manufacturer,bar_origin,review_ID,review_date,cocoa_percentage,company_location,rating,bean_type,bean_region
1072,Mast Brothers,Madagascar,999,2012,72%,U.S.A.,2.5,Trinitario,NaN

# Dropping columns for bean_type

In [47]:
# Dropping bean_type as almost half of the data is missing - imputation could introduce significant bias
df = df_choc.drop('bean_type', axis=1)

In [48]:
df.shape

(1795, 8)

In [49]:
df.head(5)

,company_manufacturer,bar_origin,review_ID,review_date,cocoa_percentage,company_location,rating,bean_region
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,Peru

# Imputation for bean_region

In [56]:
# Analysing previous data, many bar_origin are similar to bean_region. Filtering bar_origin = Madagascar
df_madagascar = df_choc[df_choc['bar_origin'] == 'Madagascar']

In [59]:
df_madagascar ['bean_region'].mode()

0    Madagascar
Name: bean_region, dtype: object

In [60]:
df_madagascar

,company_manufacturer,bar_origin,review_ID,review_date,cocoa_percentage,company_location,rating,bean_type,bean_region
11,A. Morin,Madagascar,1011,2013,70%,France,3.00,Criollo,Madagascar
37,Alain Ducasse,Madagascar,1215,2014,75%,France,3.00,Trinitario,Madagascar
60,Amano,Madagascar,129,2007,70%,U.S.A.,3.50,Trinitario,Madagascar
70,Ambrosia,Madagascar,1494,2015,66%,Canada,3.25,Trinitario,Madagascar
83,Amedei,Madagascar,123,2007,70%,Italy,4.00,Trinitario (85% Criollo),Madagascar
95,Ara,Madagascar,1375,2014,75%,France,3.00,Trinitario,Madagascar
133,Artisan du Chocolat,Madagascar,363,2009,80%,U.K.,3.00,"Criollo, Trinitario",Madagascar
183,Beschle (Felchlin),Madagascar,636,2011,64%,Switzerland,3.00,Trinitario,Madagascar
220,Blue Bandana,Madagascar,911,2012,70%,U.S.A.,3.75,Trinitario,Madagascar
244,Bonnat,Madagascar,75,2006,75%,France,4.00,Trinitario,Madagascar
309,Cacao Sampaka,Madagascar,508,2010,71%,Spain,3.50,Trinitario,Madagascar
317,Cacao Store,Madagascar,1684,2015,70%,Japan,3.00,Trinitario,Madagascar
390,Chocola'te,Madagascar,647,2011,70%,U.S.A.,3.75,Trinitario,Madagascar
410,"Chocolate Tree, The",Madagascar,919,2012,72%,Scotland,3.25,Criollo,Madagascar
451,Coppeneur,Madagascar,959,2012,70%,Germany,3.50,Trinitario,Madagascar
496,Dandelion,Madagascar,654,2011,70%,U.S.A.,3.25,Trinitario,Madagascar
511,Dark Forest,Madagascar,1550,2015,70%,U.S.A.,3.00,Trinitario,Madagascar
523,Dean and Deluca (Belcolade),Madagascar,170,2007,66%,U.S.A.,2.50,Trinitario,Madagascar
569,Domori,Madagascar,135,2007,70%,Italy,3.50,Trinitario,Madagascar
595,Durand,Madagascar,841,2012,82%,France,2.75,Trinitario,Madagascar
602,East Van Roasters,Madagascar,1343,2014,70%,Canada,3.50,Trinitario,Madagascar
668,Frederic Blondeel,Madagascar,1351,2014,65%,Belgium,3.50,Trinitario,Madagascar
740,Green Bean to Bar,Madagascar,1896,2016,70%,Japan,3.50,NaN,Madagascar
803,hexx,Madagascar,1546,2015,74%,U.S.A.,3.00,Trinitario,Madagascar
872,Isidro,Madagascar,1275,2014,72%,U.S.A.,3.50,Trinitario,Madagascar
879,Jordis,Madagascar,1534,2015,63%,Czech Republic,2.75,Trinitario,Madagascar
881,Just Good Chocolate,Madagascar,1375,2014,70%,U.S.A.,3.50,Trinitario,Madagascar
916,Kyya,Madagascar,1363,2014,72.5%,U.S.A.,3.00,Trinitario,Madagascar
924,L.A. Burdick (Felchlin),Madagascar,431,2009,64%,U.S.A.,3.50,Trinitario,Madagascar
968,Lilla,Madagascar,1856,2016,70%,Finland,3.00,Trinitario,Madagascar
990,Madecasse (Cinagra),Madagascar,284,2008,67%,Madagascar,3.50,Trinitario,Madagascar
991,Madecasse (Cinagra),Madagascar,284,2008,70%,Madagascar,3.75,Trinitario,Madagascar
992,Madecasse (Cinagra),Madagascar,284,2008,63%,Madagascar,4.00,Trinitario,Madagascar
993,Madecasse (Cinagra),Madagascar,288,2008,75%,Madagascar,3.50,Trinitario,Madagascar
1072,Mast Brothers,Madagascar,999,2012,72%,U.S.A.,2.50,Trinitario,NaN
1100,Menakao (aka Cinagra),Madagascar,837,2012,80%,Madagascar,2.50,Trinitario,Madagascar
1101,Menakao (aka Cinagra),Madagascar,841,2012,72%,Madagascar,2.50,Trinitario,Madagascar
1171,Nathan Miller,Madagascar,1403,2014,73.5%,U.S.A.,2.50,Trinitario,Madagascar
1224,Omnom,Madagascar,1247,2014,66%,Iceland,3.50,Trinitario,Madagascar
1273,Patric,Madagascar,331,2009,75%,U.S.A.,4.00,Trinitario,Madagascar
1274,Patric,Madagascar,439,2009,67%,U.S.A.,3.50,Trinitario,Madagascar
1276,Patric,Madagascar,196,2007,70%,U.S.A.,4.00,Trinitario,Madagascar
1358,Raaka,Madagascar,959,2012,75%,U.S.A.,3.25,Trinitario,Madagascar
1384,Robert (aka Chocolaterie Robert),Madagascar,1061,2013,75%,Madagascar,3.25,Trinitario,Madagascar
1493,Snake & Butterfly,Madagascar,502,2010,68%,U.S.A.,3.00,Trinitario,Madagascar
1496,Sol Cacao,Madagascar,1518,2015,72%,U.S.A.,3.00,Trinitario,Madagascar
1552,Soma,Madagascar,387,2009,70%,Canada,3.75,Criollo,Madagascar
1557,Soul,Madagascar,1936,2017,70%,Canada,3.50,NaN,Madagascar
1646,Terroir,Madagascar,1478,2015,70%,U.S.A.,3.75,Trinitario,Madagascar
1651,Terroir,Madagascar,1323,2014,67%,U.S.A.,3.75,Trinitario,Madagascar
1655,Theo,Madagascar,162,2007,65%,U.S.A.,3.50,Trinitario,Madagascar
1671,twenty-four blackbirds,Madagascar,1235,2014,75%,U.S.A.,3.50,Trinitario,Madagascar
1705,Vao Vao (Chocolaterie Robert),Madagascar,404,2009,72%,Madagascar,2.75,Trinitario,Madagascar
1706,Vao Vao (Chocolaterie Robert),Madagascar,404,2009,76%,Madagascar,2.75,Trinitario,Madagascar
1707,Vao Vao (Chocolaterie Robert),Madagascar,404,2009,80%,Madagascar,2.75,Trinitario,Madagascar
1708,Vao Vao (Chocolaterie Robert),Madagascar,404,2009,70%,Madagascar,3.00,Trinitario,Madagascar
1710,Vao Vao (Chocolaterie Robert),Madagascar,404,2009,64%,Madagascar,3.25,Trinitario,Madagascar

In [61]:
# Replacing NaN value with 'Madagascar' using contextual clue observed above
df['bean_region'] = df_choc['bean_region'].fillna('Madagascar')

In [65]:
# Re-checking nulls
df.isnull().sum()

company_manufacturer    0
bar_origin              0
review_ID               0
review_date             0
cocoa_percentage        0
company_location        0
rating                  0
bean_region             0
dtype: int64

# Duplicates

In [51]:
# Finding Duplicates
df_dups = df[df.duplicated()]

In [53]:
# Checking Duplicates
df_dups

Empty DataFrame
Columns: [company_manufacturer, bar_origin, review_ID, review_date, cocoa_percentage, company_location, rating, bean_region]
Index: []

# Converting percentage strings on decimal floats

In [67]:
# 1. Make sure it is a string
df['cocoa_percentage'] = df['cocoa_percentage'].astype(str)

# 2. Remove the '%' sign and strip any extra spaces
df['cocoa_percentage'] = df['cocoa_percentage'].str.replace('%', '').str.strip()

# 3. Convert the cleaned string to a float and divide by 100
df['cocoa_percentage'] = df['cocoa_percentage'].astype(float) / 100

In [69]:
# Checking the first few values to ensure the conversion worked
print(df['cocoa_percentage'].head())

0    0.63
1    0.70
2    0.70
3    0.70
4    0.70
Name: cocoa_percentage, dtype: float64

In [70]:
df.describe()

         review_ID  review_date  cocoa_percentage       rating
count  1795.000000  1795.000000       1795.000000  1795.000000
mean   1035.904735  2012.325348          0.716983     3.185933
std     552.886365     2.927210          0.063231     0.478062
min       5.000000  2006.000000          0.420000     1.000000
25%     576.000000  2010.000000          0.700000     2.875000
50%    1069.000000  2013.000000          0.700000     3.250000
75%    1502.000000  2015.000000          0.750000     3.500000
max    1952.000000  2017.000000          1.000000     5.000000

In [72]:
df.mode()

,company_manufacturer,bar_origin,review_ID,review_date,cocoa_percentage,company_location,rating,bean_region
0,Soma,Madagascar,414,2015,0.7,U.S.A.,3.5,Venezuela

# Exporting Data

In [73]:
df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'df_choc_clean.csv'))